/*Maps and variables*/
/*Mixins*/
/*Grid styles*/
*,
*::before,
*::after {
  box-sizing: border-box;
  border-radius: 3px; }

body {
  margin: 0; }

.clearfix::after {
  content: '';
  display: table;
  clear: both; }

.pull--left {
  float: left; }
.pull--right {
  float: right; }

.flex {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex; }
  .flex--row {
    flex-direction: row; }
  .flex--column {
    flex-direction: column; }

.space-between {
  justify-content: space-between; }

.x-start {
  justify-content: flex-start; }

.x-end {
  justify-content: flex-end; }

.y-center {
  align-items: center; }

.text--center {
  text-align: center; }
.text--left {
  text-align: left; }
.text--right {
  text-align: right; }

.wrapper {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }
  @media screen and (min-width: 1200px) {
    .wrapper {
      max-width: 1140px; } }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .wrapper {
      max-width: 960px; } }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .wrapper {
      max-width: 720px; } }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .wrapper {
      max-width: 540px; } }

.parent {
  width: 100%;
  flex-wrap: wrap; }

.child__xl--1 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 1200px) {
    .child__xl--1 {
      flex: 0 0 calc(100% / 12 * 1);
      max-width: calc(100% / 12 * 1); } }
.child__xl--2 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 1200px) {
    .child__xl--2 {
      flex: 0 0 calc(100% / 12 * 2);
      max-width: calc(100% / 12 * 2); } }
.child__xl--3 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 1200px) {
    .child__xl--3 {
      flex: 0 0 calc(100% / 12 * 3);
      max-width: calc(100% / 12 * 3); } }
.child__xl--4 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 1200px) {
    .child__xl--4 {
      flex: 0 0 calc(100% / 12 * 4);
      max-width: calc(100% / 12 * 4); } }
.child__xl--5 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 1200px) {
    .child__xl--5 {
      flex: 0 0 calc(100% / 12 * 5);
      max-width: calc(100% / 12 * 5); } }
.child__xl--6 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 1200px) {
    .child__xl--6 {
      flex: 0 0 calc(100% / 12 * 6);
      max-width: calc(100% / 12 * 6); } }
.child__xl--7 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 1200px) {
    .child__xl--7 {
      flex: 0 0 calc(100% / 12 * 7);
      max-width: calc(100% / 12 * 7); } }
.child__xl--8 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 1200px) {
    .child__xl--8 {
      flex: 0 0 calc(100% / 12 * 8);
      max-width: calc(100% / 12 * 8); } }
.child__xl--9 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 1200px) {
    .child__xl--9 {
      flex: 0 0 calc(100% / 12 * 9);
      max-width: calc(100% / 12 * 9); } }
.child__xl--10 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 1200px) {
    .child__xl--10 {
      flex: 0 0 calc(100% / 12 * 10);
      max-width: calc(100% / 12 * 10); } }
.child__xl--11 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 1200px) {
    .child__xl--11 {
      flex: 0 0 calc(100% / 12 * 11);
      max-width: calc(100% / 12 * 11); } }
.child__xl--12 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 1200px) {
    .child__xl--12 {
      flex: 0 0 calc(100% / 12 * 12);
      max-width: calc(100% / 12 * 12); } }
.child__lg--1 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .child__lg--1 {
      flex: 0 0 calc(100% / 12 * 1);
      max-width: calc(100% / 12 * 1); } }
.child__lg--2 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .child__lg--2 {
      flex: 0 0 calc(100% / 12 * 2);
      max-width: calc(100% / 12 * 2); } }
.child__lg--3 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .child__lg--3 {
      flex: 0 0 calc(100% / 12 * 3);
      max-width: calc(100% / 12 * 3); } }
.child__lg--4 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .child__lg--4 {
      flex: 0 0 calc(100% / 12 * 4);
      max-width: calc(100% / 12 * 4); } }
.child__lg--5 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .child__lg--5 {
      flex: 0 0 calc(100% / 12 * 5);
      max-width: calc(100% / 12 * 5); } }
.child__lg--6 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .child__lg--6 {
      flex: 0 0 calc(100% / 12 * 6);
      max-width: calc(100% / 12 * 6); } }
.child__lg--7 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .child__lg--7 {
      flex: 0 0 calc(100% / 12 * 7);
      max-width: calc(100% / 12 * 7); } }
.child__lg--8 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .child__lg--8 {
      flex: 0 0 calc(100% / 12 * 8);
      max-width: calc(100% / 12 * 8); } }
.child__lg--9 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .child__lg--9 {
      flex: 0 0 calc(100% / 12 * 9);
      max-width: calc(100% / 12 * 9); } }
.child__lg--10 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .child__lg--10 {
      flex: 0 0 calc(100% / 12 * 10);
      max-width: calc(100% / 12 * 10); } }
.child__lg--11 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .child__lg--11 {
      flex: 0 0 calc(100% / 12 * 11);
      max-width: calc(100% / 12 * 11); } }
.child__lg--12 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .child__lg--12 {
      flex: 0 0 calc(100% / 12 * 12);
      max-width: calc(100% / 12 * 12); } }
.child__md--1 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .child__md--1 {
      flex: 0 0 calc(100% / 12 * 1);
      max-width: calc(100% / 12 * 1); } }
.child__md--2 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .child__md--2 {
      flex: 0 0 calc(100% / 12 * 2);
      max-width: calc(100% / 12 * 2); } }
.child__md--3 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .child__md--3 {
      flex: 0 0 calc(100% / 12 * 3);
      max-width: calc(100% / 12 * 3); } }
.child__md--4 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .child__md--4 {
      flex: 0 0 calc(100% / 12 * 4);
      max-width: calc(100% / 12 * 4); } }
.child__md--5 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .child__md--5 {
      flex: 0 0 calc(100% / 12 * 5);
      max-width: calc(100% / 12 * 5); } }
.child__md--6 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .child__md--6 {
      flex: 0 0 calc(100% / 12 * 6);
      max-width: calc(100% / 12 * 6); } }
.child__md--7 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .child__md--7 {
      flex: 0 0 calc(100% / 12 * 7);
      max-width: calc(100% / 12 * 7); } }
.child__md--8 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .child__md--8 {
      flex: 0 0 calc(100% / 12 * 8);
      max-width: calc(100% / 12 * 8); } }
.child__md--9 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .child__md--9 {
      flex: 0 0 calc(100% / 12 * 9);
      max-width: calc(100% / 12 * 9); } }
.child__md--10 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .child__md--10 {
      flex: 0 0 calc(100% / 12 * 10);
      max-width: calc(100% / 12 * 10); } }
.child__md--11 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .child__md--11 {
      flex: 0 0 calc(100% / 12 * 11);
      max-width: calc(100% / 12 * 11); } }
.child__md--12 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .child__md--12 {
      flex: 0 0 calc(100% / 12 * 12);
      max-width: calc(100% / 12 * 12); } }
.child__sm--1 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .child__sm--1 {
      flex: 0 0 calc(100% / 12 * 1);
      max-width: calc(100% / 12 * 1); } }
.child__sm--2 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .child__sm--2 {
      flex: 0 0 calc(100% / 12 * 2);
      max-width: calc(100% / 12 * 2); } }
.child__sm--3 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .child__sm--3 {
      flex: 0 0 calc(100% / 12 * 3);
      max-width: calc(100% / 12 * 3); } }
.child__sm--4 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .child__sm--4 {
      flex: 0 0 calc(100% / 12 * 4);
      max-width: calc(100% / 12 * 4); } }
.child__sm--5 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .child__sm--5 {
      flex: 0 0 calc(100% / 12 * 5);
      max-width: calc(100% / 12 * 5); } }
.child__sm--6 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .child__sm--6 {
      flex: 0 0 calc(100% / 12 * 6);
      max-width: calc(100% / 12 * 6); } }
.child__sm--7 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .child__sm--7 {
      flex: 0 0 calc(100% / 12 * 7);
      max-width: calc(100% / 12 * 7); } }
.child__sm--8 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .child__sm--8 {
      flex: 0 0 calc(100% / 12 * 8);
      max-width: calc(100% / 12 * 8); } }
.child__sm--9 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .child__sm--9 {
      flex: 0 0 calc(100% / 12 * 9);
      max-width: calc(100% / 12 * 9); } }
.child__sm--10 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .child__sm--10 {
      flex: 0 0 calc(100% / 12 * 10);
      max-width: calc(100% / 12 * 10); } }
.child__sm--11 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .child__sm--11 {
      flex: 0 0 calc(100% / 12 * 11);
      max-width: calc(100% / 12 * 11); } }
.child__sm--12 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .child__sm--12 {
      flex: 0 0 calc(100% / 12 * 12);
      max-width: calc(100% / 12 * 12); } }
.child__xs--1 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (max-width: 575px) {
    .child__xs--1 {
      flex: 0 0 calc(100% / 12 * 1);
      max-width: calc(100% / 12 * 1); } }
.child__xs--2 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (max-width: 575px) {
    .child__xs--2 {
      flex: 0 0 calc(100% / 12 * 2);
      max-width: calc(100% / 12 * 2); } }
.child__xs--3 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (max-width: 575px) {
    .child__xs--3 {
      flex: 0 0 calc(100% / 12 * 3);
      max-width: calc(100% / 12 * 3); } }
.child__xs--4 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (max-width: 575px) {
    .child__xs--4 {
      flex: 0 0 calc(100% / 12 * 4);
      max-width: calc(100% / 12 * 4); } }
.child__xs--5 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (max-width: 575px) {
    .child__xs--5 {
      flex: 0 0 calc(100% / 12 * 5);
      max-width: calc(100% / 12 * 5); } }
.child__xs--6 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (max-width: 575px) {
    .child__xs--6 {
      flex: 0 0 calc(100% / 12 * 6);
      max-width: calc(100% / 12 * 6); } }
.child__xs--7 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (max-width: 575px) {
    .child__xs--7 {
      flex: 0 0 calc(100% / 12 * 7);
      max-width: calc(100% / 12 * 7); } }
.child__xs--8 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (max-width: 575px) {
    .child__xs--8 {
      flex: 0 0 calc(100% / 12 * 8);
      max-width: calc(100% / 12 * 8); } }
.child__xs--9 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (max-width: 575px) {
    .child__xs--9 {
      flex: 0 0 calc(100% / 12 * 9);
      max-width: calc(100% / 12 * 9); } }
.child__xs--10 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (max-width: 575px) {
    .child__xs--10 {
      flex: 0 0 calc(100% / 12 * 10);
      max-width: calc(100% / 12 * 10); } }
.child__xs--11 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (max-width: 575px) {
    .child__xs--11 {
      flex: 0 0 calc(100% / 12 * 11);
      max-width: calc(100% / 12 * 11); } }
.child__xs--12 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }
  @media screen and (max-width: 575px) {
    .child__xs--12 {
      flex: 0 0 calc(100% / 12 * 12);
      max-width: calc(100% / 12 * 12); } }
.child--1 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative;
  flex: 0 0 calc(100% / 12 * 1);
  max-width: calc(100% / 12 * 1); }
.child--2 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative;
  flex: 0 0 calc(100% / 12 * 2);
  max-width: calc(100% / 12 * 2); }
.child--3 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative;
  flex: 0 0 calc(100% / 12 * 3);
  max-width: calc(100% / 12 * 3); }
.child--4 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative;
  flex: 0 0 calc(100% / 12 * 4);
  max-width: calc(100% / 12 * 4); }
.child--5 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative;
  flex: 0 0 calc(100% / 12 * 5);
  max-width: calc(100% / 12 * 5); }
.child--6 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative;
  flex: 0 0 calc(100% / 12 * 6);
  max-width: calc(100% / 12 * 6); }
.child--7 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative;
  flex: 0 0 calc(100% / 12 * 7);
  max-width: calc(100% / 12 * 7); }
.child--8 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative;
  flex: 0 0 calc(100% / 12 * 8);
  max-width: calc(100% / 12 * 8); }
.child--9 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative;
  flex: 0 0 calc(100% / 12 * 9);
  max-width: calc(100% / 12 * 9); }
.child--10 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative;
  flex: 0 0 calc(100% / 12 * 10);
  max-width: calc(100% / 12 * 10); }
.child--11 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative;
  flex: 0 0 calc(100% / 12 * 11);
  max-width: calc(100% / 12 * 11); }
.child--12 {
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  position: relative;
  flex: 0 0 calc(100% / 12 * 12);
  max-width: calc(100% / 12 * 12); }

/*Custom styles*/
body {
  font-family: 'Open Sans', Arial, sans-serif; }

.logo {
  background: #f5f8fa;
  width: 100%;
  height: 100px;
  width: 100%;
  padding: 15px; }
  @media screen and (min-width: 1200px) {
    .logo {
      text-align: center; } }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .logo {
      text-align: center; } }

.navigation {
  width: 100%;
  background: #f5f8fa;
  padding: 15px;
  height: 45px;
  margin-bottom: 10px; }
  .navigation__list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 100%; }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      .navigation__list {
        justify-content: center; } }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .navigation__list {
        justify-content: center; } }
  .navigation__item {
    margin-right: 10px;
    position: relative; }
    .navigation__item:last-child {
      margin-right: 0; }
    .navigation__item a {
      text-decoration: none;
      color: #000;
      font-size: 14px; }
      .navigation__item a:hover {
        color: deepskyblue; }

article {
  text-align: justify;
  text-indent: 25px;
  background: #f5f8fa;
  padding: 10px; }
  article p {
    margin: 10px 0; }

section {
  padding: 15px;
  background: #e6ecf0; }

header {
  background: #e6ecf0;
  width: 100%;
  margin: 0;
  padding: 0;
  padding: 15px; }

.search input[type="text"] {
  border: none;
  height: 45px;
  width: 80%;
  padding: 15px;
  outline: none;
  background: #f5f8fa; }
.search input[type="submit"] {
  border: none;
  display: block;
  width: 18%;
  height: 45px;
  padding: 15px;
  outline: none;
  background: #06abdd;
  color: #fff;
  cursor: pointer; }
  .search input[type="submit"]:hover {
    background: #0598c4; }
  .search input[type="submit"]:active, .search input[type="submit"]:focus {
    background: #0585ab; }
@media screen and (max-width: 575px) {
  .search input[type="text"] {
    width: 60%; }
  .search input[type="submit"] {
    width: 38%; } }

.info {
  width: 100%;
  height: 100px;
  background: #f5f8fa;
  margin-bottom: 10px;
  padding: 10px; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .info {
      width: 49%;
      float: left; }
      .info:nth-child(2n) {
        float: right; } }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .info {
      width: 100%; }
      .info__box {
        float: left; }
      .info__text {
        text-align: right !important; } }
  .info__box {
    height: 100%;
    width: 80px;
    background: #e6ecf0;
    font-size: 14px;
    padding: 10px; }
  .info__text {
    font-size: 14px; }

p {
  margin: 0; }

.code {
  font-family: 'Courier', serif;
  font-size: 14px; }

/*# sourceMappingURL=styles.css.map */
