.input{
  border: none;
  display: block;
  height: 45px;
  width: 100%;
  padding: 15px;
  outline: none;
  background: lighten(#06abdd, 40%);
  border: 1px solid lighten(#06abdd, 40%);
  color: #06abdd;
  box-sizing: border-box;
  margin: 0 0 10px 0;
  text-align: left;
  margin-bottom: 20px;
  cursor: pointer;
  @include respond-to(sm){
    max-width: inherit;
    width: 100%;
  }
  @include respond-to(xs){
    max-width: inherit;
    width: 100%;
  }
  &:focus{
    border: 1px solid lighten(#06abdd, 20%);
    outline: none;
  }
  &--disabled{
    background: #eceded;
    border: 1px solid #eceded;
  }
  &--readonly{
    background: lighten(#8a8a8a, 20%);
    border: 1px solid lighten(#8a8a8a, 20%);
    &:focus{
      border: 1px solid lighten(#8a8a8a, 10%);
    }
  }
  &--error{
    background: lighten(indianred, 30%);
    border: 1px solid lighten(indianred, 30%);
    color: lighten(indianred, 10%);
    &:focus{
      border: 1px solid lighten(indianred, 10%);
    }
  }
}
